@import 'https://fonts.googleapis.com/css?family=Libre+Baskerville|Sintony';

/* Colors

Light Blue: #23A6DD;
Darker Blue: #196D99;
Gray: #585B5D;
Silver: #D9D9D9;

*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Libre Baskerville', serif;
}

body {
  background-color: #196D99;
  font-family: 'Sintony', sans-serif;
}

.container-fluid{
  max-width: 1500px;
  margin: 0 auto;
  background-color: #F0F0F0;
  z-index: 1;
}

.jumbotron {
  background-color: #D9D9D9;
  border: 1px solid #196D99;
}

#logo {
  max-height: 100px;
  padding: 30px;
  margin-top: -20px;
}

#jumbo-btn {
  background-color: #196D99;
  border-radius: 0px;
  float:right;
}

#jumbo-btn:hover {
  background-color: #23A6DD;
  border-radius: 0px;
}

#jumbo-hs {
  float: left;
  border: 1px solid #196D99;
  max-width: 220px;
  padding: 5px;
  background-color: white;
  margin: 45px 60px 20px 20px;
}

#jumbo-hs2 {
  float: left;
  border: 1px solid #196D99;
  padding: 5px;
  background-color: white;
  margin: 20px 0px 20px 0px;
}

#jumbo-hs3 {
  float: left;
  border: 1px solid #196D99;
  padding: 5px;
  background-color: white;
  margin: 20px 0px 20px 0px;
}

.jumbo-text {
  padding: 20px;
}

.btn-infobox {
  border: 1px solid #196D99;
  border-radius: 0px;
  color: #196D99;
  margin-top: 20px;
}

.btn-infobox:hover {
  border: 1px solid #23A6DD;
  border-radius: 0px;
  color: #23A6DD;
  margin-top: 20px;
}

.infobox {
  padding: 20px;
}

.infobox2 {
  padding: 0px 20px 0px 20px;
}

.infobox-txt {
  border: 1px solid #196D99;
  background-color: white;
  display: block;
  margin: 0px 0px 10px 0px;
  padding: 20px;
  text-align: justify;
}

.infobox-txt2 {
  border: 1px solid #196D99;
  background-color: white;
  display: block;
  margin: 0px 0px -30px 0px;
  padding: 20px;
  text-align: justify;
}

.img-center {
  display: block;
  margin: 0 auto;
}

body > div > div:nth-child(1) > div > nav {
  height: 65px;
}

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
}
#custom-bootstrap-menu.navbar-default {
    margin-top: 10px;
    font-size: 16px;
    background-color: rgba(248, 248, 248, 1);
    border-width: 0px;
    border-radius: 4px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    margin-top: 18px;
    color: rgba(25, 109, 153, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(35, 166, 221, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #196D99;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #196D99;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #196D99;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #f8f8f8;
}

.test-images {
 border-radius: 50%;
 float: left;
 margin-right: 10px;
 width: 100px;
}

.hr-test {
  background-color: #196D99;
  height: 1px;
  width: 80%;
}

.job-img {
  float: right;
  margin: 0px 15px 0px 0px;
}

.edu-img {
  float: right;
  margin: 10px;
  width: 100px;
}

#top-row {
  margin-top: -20px;
}

.middle-row {
  margin-top: 40px;
}

#left-column {
  float: left;
}

#right-column {
  float: right;
}

.skills-ul { list-style-type: none;
  margin-left: -30px;
}

#skills li {
	position: relative;
	margin-bottom: 20px;
	padding-left: 0px;
}

.bar_container,
.bar {
		position: absolute;
		left: 0;
		height: 5px;
		border-radius: 5px;
		content: "";
}

.bar_container {
		bottom: -8px;
		width: 100%;
		background-color: #333;
		text-align: right;
}

.bar {
		top: 0;
}

.pct {
		position: absolute;
		top: -19px;
		right: 0;
		opacity: 0;
		transition: opacity 0.3s linear;
}

#disclaimer {
  font-size: 10px;
  font-weight: light;
}

.enc {
  margin-bottom: -20px;
}

.enc2 {
  margin-bottom: 40px;
}

.edu-h {
  text-align: left;
  margin-top: 14px;
  margin-bottom: 15px;
}

.caa {
  margin-top: -50px;
}

.socialicons {
  border: 1px solid #196D99;
  border-radius: 50%;
  margin-left: 5px;
}

.socialtable {
  margin: 0 auto 10px auto;
}

.footer-h {
  color: white;
}

.footer-right {
  float: right;
  width: 120px;
}

.footer-bar {
  background-color: gray;
  border-top: 1px solid black;
}

.footer-p{
  color: white;
}

body > div > div.container-fluid > div > div.container-fluid.footer-bar {
  background-color: #23A6DD;
  border-top: 1px solid black;}
